nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.text-primary {
    color: #fd6e0a;
}
.header {
    background-image:
        url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position:
        top left,
        bottom right;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
.dark-2 {
    color: #474747;
}
nav ul {
    display: flex;
    align-items: center;
}
.btn-primary {
    color: #ffffff;
    background-color: #fd6e0a;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
}
.btn-contact {
    border: 1px solid #fd6e0a;
    color: #fd6e0a;
    background-color: white;
    margin-left: 18px;
}
/* banner-style */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content {
    width: 580px;
}
.banner-greetings {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-title {
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.banner-description {
    color: #757575;
    font-size: 18px;
    width: 510px;
    /* height: 60px; */
}
.banner-profile-pic {
    width: 580px;
}
/* section style */
.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}
.section-description {
    opacity: 0.7;
}
.section-background {
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 100px 150px;
    text-align: center;
    margin-top: 90px;
}
.text-center {
    text-align: center;
    margin-bottom: 30px;
}
.text-center-width {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.5;
}
/* main style */
main {
    max-width: 950px;
    margin: 0 auto;
}
.about-items {
    display: flex;
    justify-content: space-around;
}
.item-title {
    opacity: 0.7;
    margin-bottom: 0px;
}
.item-description {
    font-weight: 600;
    margin-top: 4px;
}
.box-border {
    border: 1px solid black;
    padding: 0px 1px 0px 1px;
    background-color: #ffffff;
}
/* skills-section-style */
.skills-container {
    display: flex;
    gap: 24px;
}
.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skills {
    margin-top: 105px;
    margin-bottom: 105px;
}
.skill-description {
    opacity: 0.5;
}
/* resume style */
.resume-container {
    display: flex;
    gap: 24px;
}
.experience-description {
    color: #757575;
    margin-top: 15px;
    font-size: 12px;
}
.experience-title {
    color: #474747;
    font-weight: bold;
    margin-bottom: 0px;
}
.experience-sub-title {
    color: #757575;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 0px;
}
.resume-column-title {
    font-weight: bold;
}
hr {
    margin: 15px 0px;
}
.resume-button {
    margin-top: 45px;
    margin-bottom: 85px;
}
/* footer-style */
.secondary-bg {
    background-color: #fff8f3;
}
footer {
    padding: 100px 190px 160px 190px;
    display: flex;
    gap: 90px;
}
.footer-column {
    width: 50%;
}
footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 38px;
    background-color: white;
    display: block;
    width: 70%;
    padding: 5px 18px 5px 14px;
    font-size: 13px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
.message {
    height: 100px;
}
.submit {
    font-size: 15px;
    padding: 10px 22px 10px 22px;
    border-radius: 5px;
}
.paragraph {
    font-size: 15px;
    opacity: 0.6;
}
.icon {
    margin-right: 17px;
}
.section-title-margin {
    margin-bottom: 20px;
}
