@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* header-style */
header {
    background-image: url("../images/Hero-bg.png");
    background-size: cover;
    height: 445px;
    width: 1110px;
    margin: auto;
    margin-bottom: 70px;
}
#head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 900px;
    margin: auto;
}
.logo-style {
    font-family: "work sans", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #4e47ff;
    margin-top: 25px;
}
.button-style {
    color: #ffffff;
    background-color: #4e47ff;
    border: none;
    padding: 7px 15px 7px 15px;
    font-size: 11px;
    border-radius: 5px;
    margin-top: 25px;
}
.head2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head2-title {
    font-family: "work sans", sans-serif;
    font-size: 37px;
    font-weight: 600;
    color: #252432;
    width: 500px;
    text-align: center;
    margin-top: 110px;
}
.head2-button-style {
    color: #ffffff;
    background-color: #4e47ff;
    border: none;
    padding: 7px 17px 7px 17px;
    font-size: 11px;
    border-radius: 5px;
}
main {
    width: 900px;
    margin: auto;
}
#card-one {
    margin-bottom: 70px;
}
.card-design {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-design-title {
    font-family: "work sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
}
.card-design-description {
    font-family: "work sans", sans-serif;
    width: 350px;
    opacity: 0.5;
    font-size: 15px;
    margin-top: 14px;
}
.card-design-button {
    color: #ffffff;
    background-color: #4e47ff;
    border: none;
    padding: 7px 17px 7px 17px;
    font-size: 11px;
    border-radius: 5px;
}
.card-style2 img {
    width: 310px;
    height: auto;
    border-radius: 30px;
}
/* single-card-style */
#single-card {
    background-color: powderblue;
    border-radius: 14px;
    height: 260px;
    margin-bottom: 70px;
}
.single-card-container {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    margin: auto;
}
.single-card-title {
    font-family: "work sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #252432;
    text-align: center;
    margin-bottom: 2px;
    padding-top: 50px;
}
.single-card-box {
    font-family: "work sans", sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #4e47ff;
    margin-bottom: 0px;
}
.container-title {
    margin-top: 0px;
    text-align: center;
    font-family: "work sans", sans-serif;
    font-size: 14px;
    opacity: 0.5;
}
.container-box {
    margin-top: 0px;
    padding-bottom: 55px;
}
/* card-two-style */
#card-two {
    margin-bottom: 100px;
}
.card-two-container {
    background-color: #f2eded;
    width: 275px;
    height: 160px;
    border-radius: 10px;
    padding: 14px 0px 9px 13px;
}
.card-two-title {
    font-family: "work sans", sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.card-two-subtitle {
    font-family: "work sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 3px;
}
.card-two-description {
    font-family: "work sans", sans-serif;
    font-size: 12px;
    width: 230px;
    margin-top: 5px;
}
.image-icon-set img {
    border-radius: 100px;
    margin-top: 9px;
}
.image-icon {
    display: flex;
    gap: 10px;
}
.owner-name {
    font-family: "work sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: 0px;
}
.time {
    font-family: "work sans", sans-serif;
    font-size: 13px;
    opacity: 0.5;
    margin-top: 4px;
}
.new-card-show {
    display: flex;
    justify-content: space-between;
}
/* card-three-style */
#card-three {
    background-color: #f2eded;
    margin-bottom: 95px;
    height: 450px;
    padding-top: 20px;
    border-radius: 8px;
}
.card-three-title {
    text-align: center;
    font-family: "work sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.card-three-description {
    text-align: center;
    font-family: "work sans", sans-serif;
    font-size: 9px;
    font-weight: 500;
    margin-top: 0px;
    opacity: 0.6;
}
.card-three-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.three-btn {
    color: #ffffff;
    background-color: #4e47ff;
    border: none;
    padding: 9px 20px 9px 20px;
    font-size: 9px;
    border-radius: 6px;
}
.card-three-image img {
    width: 600px;
    height: 250px;
    border-radius: 28px;
}
.card-three-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* form-card-style */
#form-card {
    margin-bottom: 70px;
}
.form-card-container {
    display: flex;
    justify-content: space-between;
}
.form-card-titled {
    display: flex;
    align-items: center;
}
.form-card-title {
    font-family: "work sans", sans-serif;
    font-size: 55px;
    font-weight: 500;
    width: 400px;
}
label {
    font-family: "work sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
}

::placeholder {
    font-size: 11px;
}
input[type="text"],
input[type="email"],
textarea {
    height: 40px;
    width: 260px;
    background-color: #f2eded;
    border: none;
    border-radius: 5px;
}
.card-form-message {
    height: 75px;
    padding-top: 15px;
    background-color: #f2eded;
    border: none;
}
.form-button {
    margin-top: 9px;
}
.form-card-btn {
    width: 264px;
    height: 35px;
    font-size: 10px;
    color: #ffffff;
    background-color: #4e47ff;
    border: none;
    border-radius: 5px;
}
